/* Disallows user from selecting text */
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
  }

/* Reset CSS and set main body formatting*/
html {
    min-width: 325px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* End reset CSS */

body {
    background-color: rgb(136, 136, 136);
}

#pop-up-cover {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, .5);
    position: fixed;
    z-index: 2;
}

/* #user-message {
    width: auto;
    min-width: 720px;
    height: 100px;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: skew(10deg);
    display: none;
    background-color: red;
}

#user-message > h1,
#user-message > h2 {
    margin: 0 auto;
    color: white;
}

#goodbye-message {
    width: fit-content;
    font-size: 72px;    
}

#goodbye-message > span {
    display: block;
    font-size: 24px;
    font-style: italic;
    margin-top: -18px;
    margin-left: 20px;
} */

header {
    width: 100%;
    height: 125px;
    background-image: linear-gradient(rgb(0, 183, 207), rgb(8, 65, 0));
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-banner {
    width: 80%;
    height: 60%;
    border: 1px solid red;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    border: 1px solid blue;
}

#game-window {
    width: 75%;
    height: fit-content;
    border: 1px solid blue;
}

#game-window-top {
    width: 100%;
    height: 380px;
    border: 1px solid chartreuse;
    position: relative;
}

#game-info {
    width: 100%;
    height: 80px;
    background-color: white;
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-info ul{
    list-style-type: none;
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.score-item,
.stats-item {
    margin: 5px;
}

#pop-up-message {
    width: 40%;
    min-height: 150px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 30%;
    top: 100px;
    display: none;
    flex-direction: column;
    z-index: 3;
}

#pop-up-title{
    font-size: 20px;
    font-weight: bold;
}

#pop-up-text {

}

#pop-up-button {
    width: 100px;
    height: 35px;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 8px;
    position: absolute;
    bottom: 15px;
    right: 25px;
}

#pop-up-button:hover {
    background-color: rgb(59, 59, 255);
}

#pop-up-button:active {
    border: 4px solid darkblue;
}

.player {
    width: 100px;
    height: 200px;
    border: 1px solid red;
}

#player-one {
    position: absolute;
    left: 25px;
    bottom: 0px;
}

#player-two {
    position: absolute;
    right: 25px;
    bottom: 0px;
}

#game-window-bottom {
    width: 100%;
    height: 15%;
    padding: 10px;
    border: 1px solid chartreuse;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.selection-menu {
    width: fit-content;
    height: 40px;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
}

#fight-button {
    width: 30px;
    height: 30px;
    background-color: green;
}

.role-select-item {
    width: 75px;
    height: 30px;
    margin: 0 5px;
    padding: 5px 15px;
    text-align: center;
    border: 1px solid red;
}

.background-select-item {
    width: fit-content;
    height: 30px;
    margin: 0 5px;
    padding: 5px 15px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid red;
}

#status-bar {
    width: 70%;
    min-height: 100px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

#status-window {
    width: 75%;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding-top: 4px;
}

@media screen and (max-width: 768px){
    #game-window-bottom {
        height: fit-content;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}