:root{
    --header-height: 50px;
}

/* Disallows user from selecting text */
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
  }

  @font-face {
    font-family: SCOREBOARD;
    src: url("./CursedTimerUlil-Aznm.ttf");
  }

  @font-face {
    font-family: NINJA;
    src: url("./AssassinNinja-7BYyR.ttf");
  }

  @font-face {
    font-family: BEAR;
    src: url("./FuzzyBear-99pj.ttf");
  }

  @font-face {
    font-family: HUNTER;
    src: url("./HunterRising-ywZ1M.ttf");
  }
/* Reset CSS and set main body formatting*/
html {
    min-width: 325px;
    max-width: var(--max-html-width);
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* End reset CSS */
/* #pop-up-cover {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, .5);
    position: fixed;
    z-index: 9;
} */

header {
    width: 100%;
    height: var(--header-height);
    background-image: linear-gradient(rgb(0, 183, 207), rgb(8, 65, 0));
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-banner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    z-index: 5;
}

#greetings {
    width: 375px;
    height: fit-content;
    font-size: 48px;
    text-align: center;
    background: linear-gradient(white 0%, rgba(0, 183, 207, .5) 100%);
    border-radius: 0px 10px 5px 0px;
    box-shadow: 3px 3px 8px 0px black;
    color: white;
    position: absolute;
    top: 25px;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition-duration: .5s;
}

#close-greeting {
    width: 25px;
    height: 25px;
    font-size: 14px;
    border-radius: 50%;
    border: 2px black solid;
    position: absolute;
    top: -10px;
    right: -10px;
    background: linear-gradient(to top right, rgb(114, 225, 240) 0%, white 100%);
    padding-top: 1px;
    color: black;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#close-greeting:hover {
    transform: scale(1.1);
}

#bear-title {
    font-family: BEAR;
    z-index: 20;
    background: linear-gradient(rgb(165, 42, 42) 0%, rgb(0, 0, 0) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 4px;
}

#hunter-title {
    font-family: HUNTER;
    font-size: 54px;
    background: linear-gradient(to right, rgb(72, 18, 18) 10%, rgb(0, 128, 0) 50%, rgb(0, 0, 0) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ninja-title {
    font-family: NINJA;
    z-index: 20;
    color: black;
}

.nav-menu{
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin-right: 50px;
}

.nav-menu li {
    width: 40%;
    height: calc(var(--header-height) - 20px);
    text-align: center;
    padding: 6px;
    margin: 0 auto;
    color: white;
    text-shadow: 5px 5px 3px rgb(0, 0, 0);
    transition: box-shadow .3s ease-out;
    transition: border-radius .2s ease-out;
}

.nav-menu li:hover {
    background-image: linear-gradient(rgba(3, 34, 3, .2) 0%, rgba(0, 177, 198, .8) 100%);
    box-shadow: 1px 1px 8px 0px white, inset 1px 3px 7px 0px black;
    text-shadow: -1px -1px 4px rgb(0, 255, 242);
}

#nav-rules:hover {
    border-radius: 0px 20px 0px 20px;
}

#nav-about:hover {
    border-radius: 20px 0px 20px 0px;
}

#nav-rules:active,
#nav-about:active {
    border-radius: 20px 20px 20px 20px;
    transition-duration: 50ms;
    background-color: rgba(255, 255, 255, .5);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

#game-window {
    width: 100%;
    height: fit-content;
}

#game-window-top {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
}

#background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    
}

#banner-image {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 4;
}

#game-info {
    width: 100%;
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#game-info ul{
    list-style-type: none;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: red;
    width: 100%;
    height: 100px;
}

#scoreboard {
    width: 35%;
    height: 80px;
    border: 1px solid blue;
    z-index: 6;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: space-evenly;
    /* top: 20%; */
}

.score-item,
.stats-item {
    margin: 5px;
    color: white;
    z-index: 4;
    text-align: center;
    white-space: nowrap;
}

.score {
    font-family: scoreboard;
    font-size: 18px;
    color: rgb(221, 255, 30);
}

#pop-up-message {
    width: 50%;
    min-height: 250px;
    padding: 10px;
    background-color: white;
    position: absolute;
    left: 30%;
    top: 100px;
    display: none;
    flex-direction: column;
    z-index: 10;
}

#pop-up-title{
    font-size: 20px;
    font-weight: bold;
}

#pop-up-button {
    width: 100px;
    height: 35px;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 8px;
    position: absolute;
    bottom: 15px;
    right: 25px;
}

#pop-up-button:hover {
    background-color: rgb(59, 59, 255);
}

#pop-up-button:active {
    border: 4px solid darkblue;
}

.player {
    width: 125px;
    height: 200px;
}

#player-one {
    position: absolute;
    left: 40px;
    bottom: 0px;
}

#player-one img,
#player-two img {
    width: 100%;
    height: 100%;
}

#player-two {
    position: absolute;
    right: 40px;
    bottom: 0px;
    transform: scaleX(-1);
}

#game-window-bottom {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    background: url('../images/backgrounds/stage_0.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 25px;
}

.selection-menu {
    width: 40%;
    list-style-type: none;
    display: flex;
    flex: 1 1 33%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#role-select {
    max-width: 400px;
    height: fit-content;
}

#background-select {
    width: fit-content;
    max-width: 40%;
    padding: 0px 5px;
    height: 60%;
    justify-content: space-around;
    flex-basis: 50%;
}

#fight-button {
    width: 100px;
    height: 40px;
    background-color: red;
    position: absolute;
    top: -50px;
    left: calc(50% - 38px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    border: 3px solid white;
    border-radius: 5px;
}

#fight-button:hover {
    background-color: white;
    border: 3px solid red;
}

#fight-button:active {
    background-color: black;
    color: white;
    border: 3px solid red;
}

.role-select-item {
    width: 80px;
    height: 80px;
    margin: 10px 5px;
    text-align: center;
    position: relative;
}

#hunter-icon {
    border: 1px solid blue;
}

#bear-icon,
#hunter-icon,
#ninja-icon {
    border: 3px solid transparent;
    border-radius: 12px;
    transition: all .1s linear;
}

#bear-icon:hover,
#hunter-icon:hover,
#ninja-icon:hover {
    box-shadow: 0px 0px 10px #e0dfdc;
    border: 3px solid white;
    transform: scale(1.05);
}

#bear-icon:active,
#hunter-icon:active,
#ninja-icon:active {
    transform: scale(1);
    transition-duration: 0s;
}

.background-select-item {
    width: fit-content;
    height: fit-content;
    padding: 5px 5px 0px 5px;
    margin: 10px 5px 0px 5px;
    text-align: center;
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 3px solid black;
}

.background-select-item:hover {
    background-color: rgba(255, 0, 0, 1);
}

.background-select-item:active {
    background-color: rgb(255, 80, 80);
}

#status-bar {
    width: 70%;
    height: 40px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}

#status-window {
    width: 75%;
    height: 30px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    padding-top: 4px;
}

.red-to-white-anim {
    animation-name: red-to-white-anim;
    animation-duration: .3s;
}

@media screen and (max-width: 1240px){
    #scoreboard {
        top: calc(100vw * .075);
    }
}

@media screen and (max-width: 768px){
    #game-window-bottom {
        height: fit-content;
        padding: 10px 0px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }
}

@keyframes red-to-white-anim {
    0%{
        color: white;
    }

    50%{
        color: red;
    }

    100%{
        color: white;
    }
}